@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
html{
  scroll-behavior: smooth;
}
body {
  background-color: #252525;
  margin: 0;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
.font2{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.custom-border-hover {
  position: relative;
  display: inline-block;
}

.custom-border-hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #f8ad0b; /* Boja granice */
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.custom-border-hover:hover::before {
  width: 100%;
  left: 0;
}
